# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=ai_blog_db

# AI API Keys
GEMINI_API_KEY=
GROQ_API_KEY=

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002
